@model ZonePostings.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Savings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Savings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
    </dl>
    <h2>Currently Taken Postings</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Payout
                </th>
                <th>
                    Risk
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AssignedPostings) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payout)
                    </td>
                    <td>
                        @if(item.Risk == 1) {
                            <span>Minimal</span>
                        } 
                        @if(item.Risk == 2) {
                            <span>Low</span>
                        } 
                        @if(item.Risk == 3) {
                            <span>Moderate</span>
                        }
                        @if(item.Risk == 4) {
                            <span>Dangerous</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
